<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ustc.edu.sse.esd.activity"
    android:versionCode="1"
    android:versionName="1.1" >    <!-- 改变版本 -->
    
    <!-- 定义权限 -->
    <permission
        android:name="scos.permission.ACCESSSCOS" 
        android:protectionLevel="dangerous" >  
    </permission>
   
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--SCOSEntry  -->
        <activity
            android:name=".SCOSEntry"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
           <!--MainScreen  -->
           <!--使用android:permission指明另外一进程访问该对象所需要使用的权限 -->
          <activity
            android:name=".MainScreen"
            android:permission="scos.permission.ACCESSSCOS"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="scos.intent.action.SCOSMAIN" />
                <category android:name="scos.intent.category.SCOSLAUNCHER" />
                <!-- DEFAULT必须加 -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
          <!--LoginOrRegister  -->
          <activity
            android:name=".LoginOrRegister"
            android:label="@string/app_name" >
         </activity>
    </application>
</manifest>
